# Chapter 20 To Chapter 34

# Chapter 20 : Tuple
### Tuples are immutable means once initialized they can't be modify and if you really want to modify so you have to redefine the tuple.
### It is similar to read only type.
### one can only read the value of tuple by using index but can't modify , delete or pop.
### Tuples are used when you have to define a constant list. And you are confident that it will not change in any way

In [7]:
# We are using tuple for months because we are confident that there will be no any change in months name and order
months = ("January","Feburary","March","April","May","June","July","August","September","October","November","December")
inp = int(input("Enter the number to know the month name = "))
print(f"the {inp} month is {months[(inp-1)]}")

Enter the number to know the month name = 8
the 8 month is August

In [8]:
#We can't perform add , insert , modify , delete or pop operation on tuples.
#We can only read value of tuple otherwise it will generate error.
months[0] = "March"

TypeError: 'tuple' object does not support item assignment

In [10]:
# Two Supported Operations of Tuples are count and index
#Count Operation (Return number of occurance of value)
print(months.count("August"))

1

In [11]:
#Index operation (Return the index of value)
print(months.index("August"))

7

# Chapter 21 : For loops
### Loops are used to perform repeated tasks.

In [17]:
cleanest_cities = ['lahore','islamabad','sawat']
inp = input("Enter your city name = ").lower()
for clean_city in cleanest_cities:     #Similar to foreach loop. Iterations through all the values one at a time
    if(inp == clean_city):
        print("It is one of the cleanest cities")
        break

Enter your city name = islamabad
Your city is one of cleanest city

In [18]:
#Example : Print table using for loop
inp = int(input("Enter number to print table = "))
for i in range(1,11):
    print(f"{inp} x {i} = {inp*i}")

Enter number to print table = 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

# Chapter 22 : Nested for loops

In [19]:
#Example : Generate Tables from 2 to 4
for table in range(2,5):
    print(f'Table of {table} : ')
    for multiplier in range (1,11):
        print(f'{table} x {multiplier} = {table*multiplier}')
    print('\n\n')

Table of 2 :
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20



Table of 3 :
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30



Table of 4 :
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

# Chapter 23 : Type Conversion

In [23]:
age = input("Enter Age = ")  #Python always takes input in string type
print(type(age))
age = int(age)
print(type(age))            #Converting age from string to integer

Enter Age = 24
<class 'str'>
<class 'int'>

# Chapter 24 : Changing Case

In [1]:
inp = input('Enter String = ')
print('Upper case = {0}'.format(inp.upper()))
print('Lower case = {0}'.format(inp.lower()))
print('Formatted Text with initial as Capital Letter = {0}'.format(inp.title()))

Enter String = HellO HoW aRe yOu
Upper case = HELLO HOW ARE YOU
Lower case = hello how are you
Formatted Text with initial as Capital Letter = Hello How Are You

# Chapter 25 : Dictionary
### Dictionary work on Key value pairs
### To define Dictionary we use {} curly brackets
### Dictionary does not understand indexes it only works on key

In [2]:
#Dictionary is similar to list such that you can store number of values in dictionary as in list which can be of any data type or you can use multiple datatypes at the same time. 
#The Difference in dictionary and list is that you can access list items by using index while in dictionary, you can access dictionary items by keys
#Dictionary must requires 'Key and value' pair to store an element

# Chapter 26 : Dictionary
### Creating Dictionary

In [5]:
customer_details = {"first_name":"Asad","last_name":"Lodhi","address":"ABC appartments , XYZ area Karachi , Pakistan"}

# Chapter 27 : Picking Information Out from Dictionary

In [7]:
customer_details = {"first_name":"Asad","last_name":"Lodhi","address":"ABC appartments , XYZ area Karachi , Pakistan"}
print(customer_details["first_name"])   #Accessing dictionary items by keys
print(customer_details["last_name"])
print(customer_details["address"])

Asad
Lodhi
ABC appartments , XYZ area Karachi , Pakistan

# Chapter 28 : The versatility of keys and values
##### In Previous Examples I use 'Key and Values' both string type but it is not necessary
##### Either Key or Value can be of any data type , And datatype of key and value can be different for an item

In [12]:
customer_details = {
    "name" : "Asad",
    "Age" : 24,
     1 : "Customer Id"
}

In [15]:
print(customer_details)
print(customer_details[1])
print(customer_details["name"])

{'name': 'Asad', 'Age': 24, 1: 'Customer Id'}
Customer Id
Asad

#  Chapter 29 : Dictionaries: Adding items

In [17]:
#Here is way of inserting items in dictionary.
#Let's Consider the same dictionary example as previous but we will add items in dictionary later
customer_details = {}
print(customer_details)
#Initially the list is empty
#Now Adding items
customer_details["name"] = "Asad Rasheed Lodhi"
customer_details["age"] = 24
customer_details[1] = "customer's ID"
#Now we have added values to dictionary lets check.
print(customer_details)

{}
{'name': 'Asad Rasheed Lodhi', 'age': 24, 1: "customer's ID"}

# Chapter 30 : Removing and changing item

In [20]:
#we can delete an item from dictionary similar to list but the differnce is here we use key instead of index
customer_details = {}
print(customer_details)
#Initially the list is empty
#Now Adding items
customer_details["name"] = "Asad Rasheed Lodhi"
customer_details["age"] = 24
customer_details[1] = "customer's ID"
#Now we have added values to dictionary lets check.
print(customer_details)
del customer_details["age"]
print (customer_details)

{}
{'name': 'Asad Rasheed Lodhi', 'age': 24, 1: "customer's ID"}
{'name': 'Asad Rasheed Lodhi', 1: "customer's ID"}

In [22]:
#For modify value of item
customer_details["name"] = "Jibran Nazeer"
print(customer_details)

{'name': 'Jibran Nazeer', 1: "customer's ID"}

# Chapter 31 : Dictionaries: Looping through values

In [24]:
#Consider the same Dictionary as used above
customer_details = {"name":"Asad Rasheed Lodhi" , "Age" : 24 , "Address":"ABC Town , Karachi"}
for value in customer_details.values():
    print(value)

Asad Rasheed Lodhi
24
ABC Town , Karachi

#  Chapter 32 : Dictionaries: Looping through Keys

In [25]:
#Consider the same Dictionary as used above
customer_details = {"name":"Asad Rasheed Lodhi" , "Age" : 24 , "Address":"ABC Town , Karachi"}
for keys in customer_details.keys():
    print(keys)

name
Age
Address

# Chapter 33 : Dictionaries: Looping through keyvalue pairs

In [26]:
#Consider the same Dictionary as used above
customer_details = {"name":"Asad Rasheed Lodhi" , "Age" : 24 , "Address":"ABC Town , Karachi"}
for key,value in customer_details.items():
    print(f"{key} : {value}")

name : Asad Rasheed Lodhi
Age : 24
Address : ABC Town , Karachi

# Chapter 34 : List of Dictionaries

In [27]:
#create a list of dictionaries
students = [{"name" : "Asad Rasheed Lodhi" , "age" : "23" , "contact_number" : 3111234567},{"name" : "Jibran Nazeer" , "age" : "24" , "contact_number" : 3001234567}]

In [28]:
print(students)

[{'name': 'Asad Rasheed Lodhi', 'age': '23', 'contact_number': 3111234567}, {'name': 'Jibran Nazeer', 'age': '24', 'contact_number': 3001234567}]

In [29]:
print(students[0])

{'name': 'Asad Rasheed Lodhi', 'age': '23', 'contact_number': 3111234567}

In [31]:
print(students[0]["name"])
print(students[1]["contact_number"])

Asad Rasheed Lodhi
3001234567