#  Chapter01
# Print

In [10]:
print("Hello World")

Hello World

In [2]:
print("Hello",",","World")

Hello , World

In [3]:
a="hello"
b="World"
print(a,",",b)

hello , World

# Chapter02
# Variables for Strings

In [5]:
name = "Assad"
print(name)

Assad

In [6]:
my_name = "Assad"
print(name)

Assad

In [7]:
name = "Assad"
print(name)
name = "Asad"
print(name)

Assad
Asad

# Chapter03
# variables for numbers

In [8]:
num = 20
print(num)

20

In [9]:
num = 20
new_num = 20 + 3
print(new_num)

23

# Chapter04
# Math expressions: Familiar operators

In [11]:
first_num = 5
sec_num = 2
Sum = first_num + sec_num
diff = first_num - sec_num
product = first_num * sec_num
divide = first_num / sec_num
print(Sum)
print(diff)
print(product)
print(divide)

7
3
10
2.5

In [12]:
num = 0.25
new_num = num + 5
print(new_num)

5.25

# Chapter06
# Math expressions: Unfamiliar operators

In [13]:
#Remainder
num = 9 % 2
print(num)

1

In [14]:
#Increment
num = 5
num +=1
print(num)

6

In [15]:
#decrement
num = 5
num -=1

In [16]:
print(num)

4

In [17]:
#Product plus Assignment in one line
num = 12
num *=3
print(num)

36

# Chapter07

# Math expressions: Eliminating ambiguity

In [18]:
total_cost = 1 + 3 * 4
print(total_cost)

13

In [19]:
result = ((2 * 4) * 4) + 2

In [20]:
print(result)

34

In [21]:
result = (2 * 4) * (4 + 2)
print(result)

48

# Chapter08
# Concatenating text strings

In [22]:
greeting = "Hello"
user = "Assad"
print(greeting + user)

HelloAssad

In [23]:
greeting = "Hello"
user = "Assad"
print(greeting +" " + user)

Hello Assad

In [24]:
print("Hello" + " " + "World" + "!")

Hello World!

In [25]:
print("sum of 2 + 2 = "+ str(4))

sum of 2 + 2 = 4